[submodule "Fivemid.FiveSteam.Generator~/Data/SteamworksDocumentation"]
	path = Fivemid.FiveSteam.Generator~/Data/SteamworksDocumentation
	url = git@github.com:SteamDatabase/SteamworksDocumentation.git
